{% extends "base.html" %}
{% block content %}
<div class="box">
  <div class="box-header with-border"><h3 class="box-title">Bulletin épidémiologique – Surveillance</h3></div>
  <div class="box-body">
    {% if error_message %}
      <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <form method="post" class="form-horizontal" target="_blank">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-2">{{ form.periode_type.label_tag }} {{ form.periode_type }}</div>
        <div class="col-sm-2">{{ form.annee.label_tag }} {{ form.annee }}</div>
        <div class="col-sm-2">{{ form.semaine.label_tag }} {{ form.semaine }}</div>
        <div class="col-sm-2">{{ form.mois.label_tag }} {{ form.mois }}</div>
        <div class="col-sm-2">{{ form.trimestre.label_tag }} {{ form.trimestre }}</div>
        <div class="col-sm-2">{{ form.semestre.label_tag }} {{ form.semestre }}</div>
      </div>
      <div class="row" style="margin-top:8px">
        <div class="col-sm-4">{{ form.region.label_tag }} {{ form.region }}</div>
      </div>
      <div class="row" style="margin-top:12px">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-file-pdf-o"></i> Générer le PDF
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
