{% extends '../base.html' %}
{% load static %}
{% block content %}
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        flex: 1;
        padding: 10px;
        min-width: 300px;
    }
    .field {
        margin-bottom: 10px;
    }
    .field strong {
        display: block;
        font-weight: bold;
    }
</style>
<div class="container mt-4" style="margin-left: 20%;">
<h2 style="text-align: center; margin-left: 30%;">Détails du Foyer - {{ foyer.localite }}</h2>
<div class="card">
     <div class="container">
        <!-- Première colonne -->
        <div class="column">
            <div class="field text-danger"><strong>Date de rapportage:</strong> {{ foyer.date_rapportage }}</div>
            <div class="field"><strong>Espèce:</strong> {{ foyer.espece }}</div>
            <div class="field"><strong>Maladie:</strong> {{ foyer.maladie }}</div>
            <div class="field"><strong>Région:</strong> {{ foyer.region }}</div>
            <div class="field"><strong>Département:</strong> {{ foyer.departement }}</div>
            <div class="field"><strong>Commune:</strong> {{ foyer.commune }}</div>
            <div class="field"><strong>Localité:</strong> {{ foyer.localite }}</div>
            <div class="field"><strong>Lieu de suspicion:</strong> {{ foyer.lieu_suspicion }}</div>
            <div class="field"><strong>Nom du lieu de suspicion:</strong> {{ foyer.nom_lieu_suspicion }}</div>
            <div class="field"><strong>Longitude:</strong> {{ foyer.longitude }}</div>
            <div class="field"><strong>Latitude:</strong> {{ foyer.latitude }}</div>
            <div class="field text-danger"><strong>Effectif du troupeau:</strong> {{ foyer.effectif_troupeau }}</div>
            <div class="field"><strong>Nombre de cas de morsure animaux:</strong> {{ foyer.nbre_des_cas_de_morsure_animaux }}</div>
            <div class="field"><strong>Nombre de cas de morsure humains:</strong> {{ foyer.nbre_des_cas_de_morsure_humains }}</div>
        </div>

        <!-- Deuxième colonne -->
        <div class="column">
            <div class="field text-danger"><strong>Nombre de sujets malades:</strong> {{ foyer.nbre_sujets_malade }}</div>
            <div class="field text-danger"><strong>Nombre de sujets morts:</strong> {{ foyer.nbre_sujets_morts }}</div>
            <div class="field text-danger"><strong>Nombre de sujets traités:</strong> {{ foyer.nbre_sujets_traites }}</div>
            <div class="field text-danger"><strong>Nombre de sujets vaccinés:</strong> {{ foyer.nbre_sujets_vaccines }}</div>
            <div class="field text-danger"><strong>Nombre de sujets en quarantaine:</strong> {{ foyer.nbre_sujets_en_quarantaine }}</div>
            <div class="field text-danger"><strong>Nombre de sujets abattus:</strong> {{ foyer.nbre_sujets_abattus }}</div>
            <div class="field"><strong>Mesures de contrôle:</strong> {{ foyer.mesure_controle.all|join:', ' }}</div>
            <div class="field"><strong>Vaccinations récentes:</strong> {{ foyer.vaccinations_recentes }}</div>
            <div class="field"><strong>Maladie vaccinée:</strong> {{ foyer.maladie_vaccination }}</div>
            <div class="field"><strong>Date de vaccination:</strong> {{ foyer.date_vaccination }}</div>
            <div class="field"><strong>Prélèvement envoyé:</strong> {{ foyer.prelevement_envoye }}</div>
            <div class="field"><strong>Date d'envoi du prélèvement:</strong> {{ foyer.date_envoi_prelevement }}</div>
            <div class="field"><strong>Nature du prélèvement:</strong> {{ foyer.nature_prelevement }}</div>
            <div class="field"><strong>Résultat du laboratoire:</strong> {{ foyer.resultat_laboratoire }}</div>
        </div>

        <!-- Troisième colonne -->
        <div class="column">
            <div class="field"><strong>Date de réception du prélèvement:</strong> {{ foyer.date_reception_prelevement }}</div>
            <div class="field"><strong>Date des résultats:</strong> {{ foyer.date_resultat }}</div>
            <div class="field"><strong>Nombre d'échantillons reçus:</strong> {{ foyer.nbre_echant_recu }}</div>
            <div class="field"><strong>Nombre d'échantillons positifs:</strong> {{ foyer.nbre_echant_positif }}</div>
            <div class="field"><strong>Nombre d'échantillons inexploitable:</strong> {{ foyer.nbre_echant_inexploitable }}</div>
            <div class="field"><strong>Nombre d'échantillons non conformes:</strong> {{ foyer.nbre_echant_nonconforme }}</div>
            <div class="field"><strong>Laboratoire:</strong> {{ foyer.laboratoire }}</div>
            <div class="field"><strong>Type de test laboratoire:</strong> {{ foyer.type_test_labo }}</div>
            <div class="field"><strong>Service du laboratoire:</strong> {{ foyer.service_labo }}</div>
            <div class="field"><strong>Absence de réactifs:</strong> {{ foyer.absence_reactifs }}</div>
            <div class="field"><strong>Résultats non conformes:</strong> {{ foyer.resultats_nonconformes }}</div>
            <div class="field"><strong>Recommandations / Suivi:</strong> {{ foyer.recommandations_suivi }}</div>
            <div class="field"><strong>Fichier des résultats:</strong>
                {% if foyer.fichier_resultat %}
                    <a href="{{ foyer.fichier_resultat.url }}" target="_blank">Télécharger</a>
                {% else %}
                    Aucun fichier
                {% endif %}
            </div>
        </div>
    </div>

    <div class="mt-3 text-center">
        <a class="btn btn-secondary" href="{% url 'foyer_list' %}">↩ Retour à la liste des foyers</a>
    </div>

</div>
</div>

{% endblock %}
