{% extends '../base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<center>
    
<div class="container mt-4" style="margin-left: 20%;">
    <h1>Importer les données Foyer</h1>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
   {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-success" style="width: 20%; height: 40%; margin-top: 3%;">Importer</button>
        <a href="{% url 'foyer_list' %}" class="btn btn-danger" style="width: 20%; height: 40%; margin-top: 3%;">Annuler</a>
    </form>
</div>
</center>
{% endblock %}
