from django.apps import AppConfig

class {{ model_name }}Config(AppConfig):
    default_auto_field = "django.db.models.BigAutoField"
    name = "generated_apps.{{ app_slug }}"
    label = "{{ app_slug }}"
