{% autoescape off %}
from django.db import models

class {{ model_name }}(models.Model):
{{ field_lines|safe }}

    class Meta:
        ordering = ("-id",)

    def __str__(self):
        return f"{{ model_name }} #{self.pk}"
{% endautoescape %}

