from django.urls import path
from .views import (
    {{ model_name }}List, {{ model_name }}Create, {{ model_name }}Update, {{ model_name }}Delete, {{ model_name }}Dashboard, {{ model_name }}Export
)
app_name = '{{ app_slug }}'
urlpatterns = [
    path('', {{ model_name }}List.as_view(), name='list'),
    path('new/', {{ model_name }}Create.as_view(), name='create'),
    path('<int:pk>/edit/', {{ model_name }}Update.as_view(), name='update'),
    path('<int:pk>/delete/', {{ model_name }}Delete.as_view(), name='delete'),
    path('dashboard/', {{ model_name }}Dashboard.as_view(), name='dashboard'),
    path('export/', {{ model_name }}Export.as_view(), name='export'),
]